#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.sv
!*.vh
!*.bd
!*.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
!*.xci
#*.dcp(checkpoint files)
!*.dcp
!*.vds
!*.pb
#All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc
#########
#System Generator
#########
!*.mdl
!*.slx
!*.bxml
#########
#Simulation logic analyzer
#########
!*.wcfg
!*.coe
!*.do
!*.sh
#########
#MIG
#########
!*.prj
!*.mem
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.obj
*.so
*.mexw64
*.asv


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.vscode

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*F2812开发板
*100046950_DSP
*100046950_FPGA
*F2812_example_ccs3
*libero_setup
*png