######################
#Source files:
######################
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.sv
!*.vh

######################
#Constraint files
######################
#Do NOT ignore *.pdc files
!*.pdc

######################
#top_fp files
######################
!top_fp/

######################
#modelsim files
######################
work/
*.mti
*.wlf

######################
#libero temp files
######################
dmd_vivado/
*component/
*designer/
*simulation/
*smartgen/
*stimulus/
*synthesis/
*tooldata/
*viewdraw/


######################
# referrence doc
######################
*.log
*.sql
*.sqlite
*F2812开发板
*100046950_DSP
*100046950_FPGA
*F2812_example_ccs3
*libero_setup
*png
*.metadata
*.jxbrowser.userdata
*dvt
RemoteSystemsTempFiles

######################
# Compiled source #
######################
*.com
*.class
*.dll
*.exe
*.o
*.obj
*.so
*.mexw64
*.asv

######################
# Ignore user-specific and workspace files
######################
*.user
*.prefs
*.vscode/
